<h2>Pick your Order:</h2>
<div class="mb-3">
    <label for="" class="form-label">Category:</label>


    <select class="form-select form-select-lg" name="category" id="prodCategory" [(ngModel)]="selectedCategoryId">
        <option value="0" selected>All</option>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>
</div>

<hr>

<div class="bg-warning">
    <app-product-list [sentCategoryId]="selectedCategoryId" (totalPriceChanged)="onTotalOriceChanged($event)"> </app-product-list>
</div>

<hr>
<div>
    <h3>Enter your name:</h3>
    <input #customerName type="text" class="form-control">
</div>
<h3>
    Order Total Price: {{receivedOrderTotalPrice | currency}}
</h3>
<button
    type="button"
    class="btn btn-success" (click)="completeOrder()"
>
    Place order
</button>
