<div class="text-danger">
<h3>To be removed [for test]:</h3>
<div>
    {{newProduct | json}}
</div>
</div>

<hr>
<form (ngSubmit)="addProduct()">
    <div class="m-3">
        <label for="pName">Product Name:</label>
        <input #productName="ngModel" type="text" class="form-control" id="pName" name="name" [(ngModel)]="newProduct.name" required>
        <div [hidden]="productName.valid || productName.untouched">
            <small>Name is required</small>
            <small> Name must be 3 letters at least</small>
        </div>
    </div>
    <div class="m-3">
        <label for="pPrice">Price:</label>
        <input type="number" class="form-control" id="pPrice" name="price" [(ngModel)]="newProduct.price" >
    </div>
    <div class="m-3">
        <label for="pCategory" class="form-label">Category:</label>
        <select class="form-select form-select-lg" name="category" name="category" id="pCategory" [(ngModel)]="newProduct.categoryID" >
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
    </div>
    <div class="m-3">
        <label for="pImage">Image:</label>
        <input type="file" class="form-control" id="pImage" name="image" [(ngModel)]="newProduct.imageURL" >
    </div>
    <div class="m-3">
        <label for="pQuantity">Quantity:</label>
        <input type="number" class="form-control" id="pQuantity" name="quantity" [(ngModel)]="newProduct.quantity" >
    </div>
    <button type="submit" class="btn btn-primary m-3">
        Save
    </button>
</form>

<h2>{{message}}</h2>

