<div class="container">
    <form [formGroup]="userRegisterForm" class="m-3" (ngSubmit)="submit()">
        <div class="m-3">
            <label for="fullName" class="form-label">Full Name:</label>
            <input type="email" formControlName="fullName" class="form-control" id="fullname" name="fullName"
                [class.is-invalid]="!fullName?.valid && fullName?.touched">
            <div class="alert alert-warning" [hidden]="fullName?.valid || fullName?.untouched || !fullName?.errors">
                <small *ngIf="fullName?.errors?.['required']">
                    Full Name is required
                </small>
                <small *ngIf="fullName?.errors?.['pattern']">
                    Full Name must be 3 letters or more, {{fullName?.errors?.['pattern'].actualValue}} doesn't match.
                </small>
            </div>
        </div>

        <div class="m-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" formControlName="email" class="form-control" id="email" name="email"
                [class.is-invalid]="!email?.valid && email?.touched">
            <div class="alert alert-warning" [hidden]="email?.valid || email?.untouched || !email?.errors">
                <small *ngIf="email?.errors?.['required']">
                    email is required
                </small>

                <small *ngIf="email?.errors?.['EmailAlreadyInUse']">
                   Email is already in use.
                </small>
            </div>
        </div>
        
        <div formArrayName="mobileNumber">
            <div class="m-3 ms-3" *ngFor=" let number of phoneNumbers.controls; let i = index;">
                <label for="mobileNumber-{{i + 1}}" class="form-label">Phone Number - {{i+1}}:</label>
                <input type="text" formControlName="{{i}}" class="form-control" id="mobileNumber-{{i + 1}}"
                    name="mobileNumber-{{i + 1}}">
            </div>
            <button type="button" class="btn btn-success m-3" (click)="addPhoneNo()">+</button>
        </div>



        <div formGroupName="address">
            <div class="m-3">
                <label for="city" class="form-label">City:</label>
                <input type="text" formControlName="city" class="form-control" id="city" name="city">
            </div>
            <div class="m-3">
                <label for="street" class="form-label">Street:</label>
                <input type="text" formControlName="street" class="form-control" id="street" name="street">
            </div>
            <div class="m-3">
                <label for="postalCode" class="form-label">Postal Code:</label>
                <input type="text" formControlName="postalCode" class="form-control" id="postalCode" name="postalCode">
            </div>
        </div>

        <div class="form-check m-3">
            <input formControlName="referal" class="form-check-input" type="radio" name="referal" id="flexRadioDefault1" value="social" (change)="updateReferalValidators()">
            <label class="form-check-label" for="flexRadioDefault1">
                social
            </label>
          </div>
          <div class="form-check m-3">
            <input formControlName="referal" class="form-check-input" type="radio" name="referal" id="flexRadioDefault2" checked value="friend" (change)="updateReferalValidators()">
            <label class="form-check-label" for="flexRadioDefault2">
                friend
            </label>
          </div>
          <div class="form-check m-3">
            <input formControlName="referal" class="form-check-input" type="radio" name="referal" id="flexRadioDefault2" checked value="other" (change)="updateReferalValidators()">
            <label class="form-check-label" for="flexRadioDefault2">
                others
            </label>
          </div>

          <div class="m-3" *ngIf="referal?.value == 'other'">
            <label for="referalOther" class="form-label">referalOther:</label>
            <input type="text" formControlName="referalOther" class="form-control" id="referalOther" name="referalOther">
        </div>

        <div class="m-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" formControlName="password" class="form-control" id="password" name="password">
        </div>

        <div class="m-3">
            <label for="cpassword" class="form-label"> Confirm Password:</label>
            <input type="password" formControlName="confirmPassword" class="form-control" id="cpassword"
                name="cpassword">
        </div>


        <button type="submit" [disabled]="userRegisterForm.invalid" class="btn btn-primary m-3">
            Save
        </button>
    </form>

    <hr>
    <div class="text-danger1">
        <h1>To be removed [for test]</h1>
        {{userRegisterForm.value| json}}
        <!-- {{userRegisterForm.get('fullName')?.value| json}} -->
    </div>
    <div>
        {{
        fullName?.errors | json
        }}
    </div>
    <div>
        <button type="button" class="btn btn-primary" (click)="fillForm()">
            Fill Form
        </button>

    </div>
</div>
<div>
    <p>

    </p>
</div>