<br>
Today's date {{orderDate | date:'longDate'}}
<div>

</div>
<hr>
<a class="btn btn-success" [routerLink]="['/products/add']" role="button">Add Product</a>

<hr>
<table class="table table-sm">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price in $</th>
            <th>Price in EGP</th>
            <th>Count</th>
            <th>Details</th>
            <th>Add</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of PrdListOfCategory; let i = index;" [ngStyle]="{
            'background-color': product.quantity == 0? 'lightgray' : 'green',
            'color': product.quantity == 0? 'white' : 'orange'
        }">
            <td>{{i + 1}}</td>
            <td>{{product.name}}</td>
            <td><img LightBox="red" defaultColor="orange" width="100px" [src]="product.imageURL" alt="product"></td>
            <td>
                <ng-container [ngSwitch]="product.quantity">

                    <div *ngSwitchCase="0">
                        Out of Stock
                    </div>
                    <div *ngSwitchCase="1">
                        Last Item
                    </div>
                    <div *ngSwitchDefault>
                        {{product.quantity}}
                    </div>
                </ng-container>

            </td>
            <td>{{product.price | currency:'USD'}}</td>
            <td>{{product.price | USDtoEGP:70 | currency:'EGP'}}</td>

            <td><input #itemsCount class="form-control" type="number" min="0"></td>
            <td>
                <a class="btn btn-warning" [routerLink]="['/products', product.id]" role="button">Details</a>
            </td>
            <td><button type="button" class="btn btn-secondary" (click)="buy(product.price, itemsCount.value)"> Buy
                </button>
            </td>
        </tr>
    </tbody>
</table>
<hr>